/* Estilos Gerais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #1a1a1a;
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Força o rodapé a ficar no final da página */
main.container {
    flex: 1;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

/* Cabeçalho */
.header {
    background-color: #1a1a1a;
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.main-nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #555;
    font-weight: bold;
    transition: color 0.2s;
}

.main-nav a:hover {
    color: #27ae60;
}

.header-icons a {
    margin-left: 20px;
    font-size: 1.2em;
    color: #555;
    transition: color 0.2s;
}

.header-icons a:hover {
    color: #27ae60;
}


/* Catálogo de Produtos (sem alterações) */
.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.produto {
    background-color: #2b2b2b;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.produto:hover {
    transform: translateY(-5px);
}

.produto-imagem img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.produto-info {
    padding: 20px;
}

.produto-nome {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 10px;
}

.produto-descricao {
    font-size: 0.9em;
    height: 60px;
    margin: 0 0 15px;
    color: #666;
}

.produto-preco {
    font-size: 1.5em;
    font-weight: bold;
    color: #27ae60;
}

.preco-original {
    text-decoration: line-through;
    color: #e74c3c;
    font-size: 0.9em;
    margin-left: 10px;
}

.produto-avaliacao {
    margin-top: 15px;
}

.estrelas {
    color: #f39c12;
}

/* Rodapé */
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    /* Espaço acima do rodapé */
}

.social-icons a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.2s;
}

.social-icons a:hover {
    color: #27ae60;
}

.footer p {
    margin-top: 15px;
    font-size: 0.9em;
}

/* Responsividade para o Header */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        gap: 15px;
    }

    .main-nav {
        order: 1;
        /* Coloca a navegação por último no modo coluna */
    }
}